body {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  margin: 0;
}

.header-container,
.hero-container {
  background-color: #1f2937;
  display: flex;
  height: fit-content;
  padding-left: 200px;
  padding-right: 200px;
  margin: 0;
}

.header-container {
  padding-top: 20px;
  height: 50px;
}

.header {
  font-size: 26px;
  color: #f9faf8;
  font-weight: bold;
}

.links-container {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  margin-left: auto;
}

.link a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero-container {
  display: flex;
  padding-bottom: 20px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.hero-header {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-text {
  font-size: 18px;
  color: #e5e7eb;
}

.signup button {
  background-color: #3882f6;
  border-radius: 8px;
  border: 0;
  color: white;
  font-size: 16px;
  padding: 10px 32px;
}
