body {
  font-family: "Franklin Gothic Medium", Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header-container,
.hero-container {
  background-color: #1f2937;
  display: flex;
  height: fit-content;
  padding-left: 200px;
  padding-right: 200px;
  margin: 0;
}

.header-container {
  padding-top: 20px;
  height: 50px;
}

.header {
  font-size: 26px;
  color: #f9faf8;
  font-weight: bold;
}

.links-container {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  gap: 26px;
  margin-left: auto;
}

.link a {
  text-decoration: none;
  color: #e5e7eb;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.hero-container {
  display: flex;
  padding-bottom: 20px;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.hero-header {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-text {
  font-size: 22px;
  color: #e5e7eb;
  width: 500px;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.signup button {
  background-color: #3882f6;
  border-radius: 8px;
  border: 0;
  color: white;
  font-size: 16px;
  padding: 10px 32px;
}

.info-header {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.info-grid-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 80px;
}

.item {
  max-width: 200px;
}

.item img {
  height: 100px;
  width: 100px;
  align-self: center;
  padding-bottom: 20px;
}

.quote-container {
  height: fit-content;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  padding: 100px 500px;
}

.quote-text {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.quote-source {
  font-weight: bold;
  font-size: 28px;
  align-self: flex-end;
  padding-top: 20px;
}

.call-to-action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 200px;
}

.call-to-action-content {
  padding: 50px 100px;
  background-color: #3882f6;
  border-radius: 16px;
  display: flex;
  flex-flow: row wrap;
  gap: 200px;
}

.call-to-action-title {
  font-size: 22px;
  font-weight: bold;
  color: white;
}

.call-to-action-text {
  font-size: 18px;
  color: #e5e7eb;
  padding-top: 4px;
}

.call-to-action-right button {
  background-color: #3882f6;
  border-radius: 8px;
  border: 2px solid;
  border-color: white;
  color: white;
  font-size: 16px;
  padding: 10px 32px;
}

.call-to-action-right a {
  text-decoration: none;
  color: white;
}

.footer {
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
